.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.hero {
  height: 95vh;
  background-image: url('../images/pistis_map-ng_1x.png');
  background-position: 50% 90%;
  background-size: 820px;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.navbar {
  border-bottom: 1px solid #eee;
  background-color: #fff;
}

.nav-links {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.nav-links.link-cta {
  background-color: #af0060;
  color: #fff;
}

.image {
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.container.founder {
  padding: 60px 0px;
}

.usp-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  padding-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.body {
  font-family: 'Source Sans Pro', sans-serif;
}

.pistis-title {
  margin-bottom: 0px;
  color: #af0060;
  text-transform: uppercase;
}

.pistis-title-gray {
  color: #4e4e4e;
}

.usp-desc {
  font-size: 19px;
  text-align: center;
}

.btn_cta {
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 4px;
  background-color: #af0060;
  text-transform: uppercase;
}

.btn_cta.border {
  border-style: solid;
  border-width: 1px;
  border-color: #af0060;
  background-color: #fff;
  color: #af0060;
}

.section-why {
  padding-top: 40px;
  padding-bottom: 100px;
  background-color: #fafafa;
}

.h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #af0060;
  font-size: 35px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.h2.center {
  padding-top: 40px;
  text-align: center;
}

.sector-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.sectors {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  height: auto;
  padding-right: 5px;
  padding-left: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 25px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.text-block {
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
}

.image-2 {
  padding-top: 20px;
}

.section-join {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #af0060;
}

.holder-join {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.left {
  width: 60%;
}

.h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
}

.bold-text-2 {
  letter-spacing: 4px;
  text-transform: uppercase;
}

.text-block-2 {
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
}

.bold-text-3 {
  letter-spacing: 1px;
}

.text-13 {
  padding-top: 20px;
  padding-right: 100px;
  padding-left: 0px;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
}

.right {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.text-12-full {
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  text-align: justify;
}

.button {
  margin-top: 17px;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 4px;
  background-color: #fff;
  color: #af0060;
  text-transform: uppercase;
}

.section-about {
  padding-top: 100px;
  padding-bottom: 100px;
}

.img {
  width: 30%;
  padding-right: 0px;
}

.context {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
  padding-left: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.text-block-3 {
  padding-bottom: 20px;
}

.holder-abt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}

.h4 {
  margin-top: 0px;
  font-size: 20px;
  line-height: 20px;
}

.text-high {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
}

.text-block-4 {
  color: #636363;
}

.btn_about {
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 0px;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 4px;
  background-color: #af0060;
  text-transform: uppercase;
}

.port-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  margin: 20px 0px;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-radius: 5px;
  background-color: #f4f4f4;
}

.h5 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.text-block-5 {
  text-align: left;
}

.section-footer {
  background-color: #eee;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
}

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.copyright {
  padding-right: 100px;
  padding-left: 100px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.brand {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.image-3 {
  padding: 16px;
}

.text-block-6 {
  color: #919191;
}

.text-block-7 {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.holder-portfolio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.section.img-bg {
  height: 50vh;
  padding-top: 88px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(175, 0, 96, 0.7)), to(rgba(146, 3, 39, 0.7))), url('../images/img_bg_about.png');
  background-image: linear-gradient(180deg, rgba(175, 0, 96, 0.7), rgba(146, 3, 39, 0.7)), url('../images/img_bg_about.png');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
}

.section.grey-bg {
  background-color: #eee;
}

.h6 {
  margin-bottom: 20px;
  color: #fafafa;
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
}

.holder.abt-hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.holder.abt-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  margin-bottom: 60px;
}

.text-abt-hero {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

.abt-believe {
  width: 50%;
  padding: 30px;
}

.heading-2 {
  font-size: 26px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.holder-debature {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
}

.debature-text {
  width: 60%;
  padding: 30px 30px 30px 0px;
}

.debature-img {
  width: 40%;
  padding: 0px;
}

.text-block-8 {
  padding-top: 20px;
  padding-bottom: 10px;
}

.grid {
  grid-column-gap: 60px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.holder-faq {
  margin-top: 60px;
  margin-bottom: 20px;
}

.text-faq {
  color: #585151;
  font-size: 13px;
  text-align: justify;
}

.faq {
  margin-top: 0px;
  margin-bottom: 40px;
}

.holder-quote {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.quote {
  width: 70%;
  padding: 30px;
  border-radius: 5px;
  background-color: #f1f1f1;
}

.text-block-11 {
  font-family: Exo, sans-serif;
  color: #695d64;
  font-size: 15px;
}

.text-quote {
  font-family: Exo, sans-serif;
}

.text-block-12 {
  padding-top: 11px;
  padding-bottom: 0px;
  font-family: Exo, sans-serif;
  font-size: 20px;
  text-align: right;
}

.grid-2 {
  margin-top: 40px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.box.colored {
  padding: 20px;
  border-radius: 5px;
  background-color: #af0060;
}

.box.grey {
  padding: 20px;
  border-radius: 5px;
  background-color: #c5c5c5;
}

.number {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, sans-serif;
  color: #fff;
  font-size: 100px;
  line-height: 74px;
  text-align: left;
}

.info {
  margin-bottom: 0px;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
}

.bold-text-6 {
  font-size: 16px;
  font-weight: 600;
}

.info2 {
  margin-bottom: 0px;
  color: #242424;
  font-size: 16px;
  line-height: 20px;
}

.number2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, sans-serif;
  color: #232323;
  font-size: 100px;
  line-height: 74px;
  text-align: left;
}

.heading-3 {
  font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, sans-serif;
  font-size: 100px;
}

.heading-4 {
  margin-top: 40px;
  font-size: 18px;
  line-height: 20px;
}

.source {
  padding-top: 10px;
  padding-right: 100px;
  padding-left: 100px;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
}

.text-block-13 {
  padding-top: 20px;
  font-weight: 300;
}

.section-founder {
  background-color: #eee;
}

.section-founder.img-bg {
  height: 50vh;
  padding-top: 88px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(175, 0, 96, 0.7)), to(rgba(146, 3, 39, 0.7))), url('../images/img_bg_about.png');
  background-image: linear-gradient(180deg, rgba(175, 0, 96, 0.7), rgba(146, 3, 39, 0.7)), url('../images/img_bg_about.png');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
}

.section-founder.grey-bg {
  background-color: #eee;
}

.img-founder {
  width: 300px;
  height: 300px;
  clear: left;
}

.holder-founder {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.image-4 {
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 0px;
  float: left;
  clear: none;
}

.text-block-14 {
  clear: none;
  text-align: justify;
}

@media (max-width: 767px) {
  .hero {
    height: 70vh;
    margin-bottom: 20px;
    padding-bottom: 0px;
    background-position: 50% 100%;
  }
  .image {
    max-width: none;
    margin-top: 5px;
    padding-left: 10px;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .section-why {
    padding-bottom: 40px;
  }
  .sector-holder {
    padding-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .sectors {
    width: 50%;
    padding: 19px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
  }
  .text-block {
    padding-right: 0px;
    padding-left: 0px;
  }
  .image-2 {
    display: none;
    max-width: none;
    margin-bottom: 40px;
  }
  .section-join {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .holder-join {
    padding: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .left {
    width: auto;
  }
  .text-13 {
    padding-right: 0px;
  }
  .text-12-full {
    margin-top: 40px;
  }
  .section-about {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .img {
    display: none;
  }
  .port-block {
    width: auto;
    margin: 10px 40px;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .copyright {
    padding-bottom: 28px;
  }
  .holder-portfolio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .holder.abt-2 {
    display: block;
  }
  .abt-believe {
    width: auto;
  }
  .debature-text {
    width: auto;
    padding-right: 40px;
    padding-left: 40px;
  }
  .debature-img {
    display: none;
  }
}

@media (max-width: 479px) {
  .h2 {
    line-height: 33px;
  }
  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .section.img-bg {
    padding-top: 60px;
  }
  .text-abt-hero {
    padding-right: 40px;
    padding-left: 40px;
    font-size: 16px;
    text-align: center;
  }
  .text-block-9 {
    text-align: justify;
  }
  .text-block-10 {
    text-align: justify;
  }
  .bold-text-5 {
    line-height: 40px;
  }
  .section-founder.img-bg {
    padding-top: 60px;
  }
}

